.search-container {
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
}

.table-container {
  overflow: auto;
  max-height: 400px;
}

.search-field {
  width: 200px;
}
.returned {
  background-color: #f1f1f1 !important;
  color: #ccc;
  cursor: not-allowed;
}

